$xl-media: 1440px;
$lg-media: 1024px;
$md-media: 960px;
$sm-media: 768px;
$xs-media: 425px;
$xxs-media: 320px;


@mixin xl() {
    @media all and (max-width: $xl-media) {
        @content;
    }
}

@mixin lg() {
    @media all and (max-width: $lg-media) {
        @content;
    }
}

@mixin md() {
    @media all and (max-width: $md-media) {
        @content;
    }
}

@mixin sm() {
    @media all and (max-width: $sm-media) {
        @content;
    }
}

@mixin xs() {
    @media all and (max-width: $xs-media) {
        @content;
    }
}

@mixin xxs() {
    @media all and (max-width: $xxs-media) {
        @content;
    }
}